/* {
    text-decoration: none;
    font-family: 'Ruda', sans-serif;
}

body{
    background-color:#F4EBE2 ;
}
header{
    background-color:#F9DDDF ;
    height: 100px;
    width: 1575px;
    margin-top: -8px;
    margin-left: -50px;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-wrap:inherit;

   
}
header img{
    height:361;
    width: 381px;
   margin-top: -10px;
    margin-left: 90px;
}

.nav a{
  
    padding: 10px;
    text-decoration: none;
    font-family: Ruda;
    font-size: 20px;
    color: black;
    justify-items: center;
    align-items: center;
    margin-left: 90px;}
    label{
      font-size: 25px;
}

.img1{
    width: 498px;
    height: 798px;
    margin-left: 820px;
}

main p1 {
    position: absolute;
width: 244px;
height: 67px;
left: 126px;
top: 150px;

font-family: 'Ruda';
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 51px;

color: rgba(0, 0, 0, 0.63);
}

.container{
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border:1pxbsolid red
}

@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700&family=Sail&display=swap');
* {
    text-decoration: none;
    font-family: 'Ruda', sans-serif;
}
body{
    background-color:#F4EBE2 ;
    margin: 0;
    padding: 0;
}
header{
    background-color:#F9DDDF ;
    height: 100px;
    width: 100%;
    justify-items: center;
    align-items: center;
    display: flex;
    padding-block: 10px;
}
header img{
    max-width: 400px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;}
.nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    justify-items: center;
    align-items: center;
}
label{
  font-size: 25px;
}
.img1{
    width: 498px;
    height: 798px;
    margin-left: 820px;
}
/* MAIN PAGE CONTAINER */
.main-container{
    display: flex;
}
/* Middle Container */
/* LEFT CONTAINER */
.left-container{
    width: 30%;
    padding-inline: 35px;
}
.left-container h1{
    font-weight: 400;
    font-size: 42px;
    color: rgba(0, 0, 0, 0.63);
    padding-block: 50px;
    margin: 0;
    text-align: center;
}
/*.left-container p{
    font-weight: 400;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    margin: 0 0 30px 0;
    color: rgba(0, 0, 0, 0.63);
    text-align: center;
    padding-block: 5px;
}
.filters-card{
    background: white;
    border-radius: 10px;
    padding: 30px;
}
.filters-card form{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.so{
    display: flex;
    flex-direction: row;
}
/* RIGHT CONTAINER */
.right-container{
    width: 70%;
    padding-inline-end: 50px;
    margin: 0;
}
.right-container p{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.63);
    text-align: center;
    width: 100%;
    display: block;
    padding-block: 60px;
    margin: 0;
}
.cards-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding-inline-start: 20px;
}
.flower-card{
    display: none;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 25px;
    max-width: 250px;
    box-shadow: 0px 0px 30px #00000033;
    margin-bottom: 50px;
}
.flower-card.show{
    display: block;
}
.flower-card .cardImg{
    width: 250px;
    height: 250px;
    border-radius: 50px 50px 0px 0px;
}
.flower-card .title , .flower-card .price{
    color: red;
}
.flower-card button{
    background: #667055;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}
.flower-card button:hover {
    background-color: #F9DDDF; /* Green */
    color: black;
  }


  